[submodule "ros2_robot_interface"]
	path = submodules/ros2_robot_interface
	url = git@github.com:fiveages-sim/ros2_robot_interface.git
[submodule "submodules/lerobot"]
	path = submodules/lerobot
	url = git@github.com:huggingface/lerobot.git
